.logo{
    float: left;
}

.navbar{
    background-color: #777bb4;

}

.readmore{
    display: block;
    text-align: center;
    padding:5px;
    background: #f4f4f4;
    margin-top: 10px;
    color: #666;
}

.readmore:hover{
    background:#ccc ;
    color: #666;
    text-decoration: none;
}